body {
    background-color: aqua;
}

h1 {
    color: black;
}

h3 {
    color: black;
}



#board {
    padding-top: 3rem;
    text-align: center;
}

.row > div {
    float: left;
    height: 100px;
    width: 100px;
}

.row {
    clear: both;
    margin: 0 auto;
    width: 306px;
    line-height: 100px;
    font-size: 75px;
}

.top {
    border-bottom: 3px solid black;
}

.bottom {
    border-top: 3px solid black;
}

.left {
    border-right: 3px solid black;
}

.right {
    border-left: 3px solid black;
}

.row:hover {
    cursor: pointer;
}




