body {
    background-image: url(trees.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(22, 22, 31);
}

h1 {
    color: whitesmoke;
}

h3 {
    color: whitesmoke;
}



#board {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.row > div {
    float: left;
    height: 100px;
    width: 100px;
}

.row {
    clear: both;
    margin: 0 auto;
    width: 306px;
    line-height: 100px;
    font-size: 75px;
}

.top {
    border-bottom: 3px solid whitesmoke;
}

.bottom {
    border-top: 3px solid whitesmoke;
}

.left {
    border-right: 3px solid whitesmoke;
}

.right {
    border-left: 3px solid whitesmoke;
}

.row:hover {
    cursor: pointer;
}




